
<div>
    <a style="position:absolute; right: 10px; font-size: 20px; font-weight:bold" href="#/action/new/">Add new action</a><br><br>
    <h2>Current action list</h2><br>
    <table border="1" style="width:100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Active ?</th>
            <th>Project</th>
            <th>Last date</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="action in actions">
            <td>{{action.name}}</td>
            <td>{{action.active}}</td>
            <td>{{action.assignedTo}}</td>
            <td>{{action.lastDate}}</td>
            <td>
                <a href="#/action/view/{{action._id}}" >view</a>
            </td>
            <td>
                <button ng-click="deleteAction(action._id)">remove</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>