<div>
    <h2>Action list</h2><br>
    <div class="add-link">
        <a href="#/action/new">+ Add new action</a><br><br>
    </div>
    <table class="list-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Active ?</th>
            <th>Project</th>
            <th>Last date</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="action in actionDocuments">
            <td>{{action.name}}</td>
            <td>{{action.active}}</td>
            <td>{{action.assignedTo}}</td>
            <td>{{action.lastDate}}</td>
            <td>
                <a href="#/action/update/{{action._id}}">Update</a>
            </td>
            <td>
                <button ng-click="deleteDocument('action', action._id)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>