<div xmlns="http://www.w3.org/1999/html" style="font-size: large">
    <label>create new action</label><br>
<span ng-if="isAddActionSuccessful" ng-init="isAddActionSuccessful=false" style="color: #10ff5c">
  Action added successfully
</span>
    <br>

    <label>action name</label>
    <input style="padding-left: 10px" type="text" name="action name" ng-model="action.name" >
<br>
    <label>active ?</label>
    <input style="padding-left: 10px" type="checkbox" name="active ?" ng-model="action.active">
    <br>
    <label>last date</label>
    <input style="padding-left: 10px" type="date" name="last date" ng-model="action.lastDate">
    <br>
    <label>assigned to</label>
    <!--TODO make the list dynamic -->
    <select ng-model="action.assignedTo">
        <option value="service">service</option>
        <option value="kc">kc</option>
        <option value="sic">sic</option>
    </select>
<br>
<br>
    <div action-row>Add new row</div>
    <br>
    <br>

    <a href="#/actions">Back</a> &nbsp;&nbsp;
    <button style="width: 60px; height: 20px" ng-click="addAction()"> Submit</button>
<!--
//http://jsfiddle.net/fess81/axq5vu41/
    //http://ng-learn.org/2014/01/Dom-Manipulations/
-->
</div>