<div xmlns="http://www.w3.org/1999/html" style="font-size: large">
    <!--http://blog.jdriven.com/2013/03/how-to-create-singleton-angularjs-services-in-4-different-ways/
    http://stackoverflow.com/questions/16607874/where-should-model-state-be-stored-in-angular-js
    -->

    <h2>Update project</h2>
    <div ng-if="isResponseReceivedFromServer" ng-init="isResponseReceivedFromServer=false" style="color: #10ff5c">
        {{status.message}}
    </div>
    <br>

    <label>Employee id :</label>
    <input style="padding-left: 10px" type="text" name="employee id" ng-model="employeeDocument.id" >
    <br><br>

    <label>Employee name :</label>
    <input style="padding-left: 10px" type="text" name="employee name" ng-model="employeeDocument.name" >
<br><br>

    <label>Employee email :</label>
    <input style="padding-left: 10px" type="text" name="employee email" ng-model="employeeDocument.email" >
    <br><br>

        <label>Employee project :</label>
        <select style="padding-left: 10px" type="text" name="employee project" ng-model="employeeDocument.project" >
            <option selected="employeeDocument.project">{{employeeDocument.project}}</option>
            <option ng-if="project.name != employeeDocument.project" ng-repeat="project in projectDocuments" value="{{project.name}}">{{project.name}}</option>
            </select>
    <br><br>


    <a class="back" href="#/employees">Back</a> &nbsp;&nbsp;
    <button ng-if="!isAddDocumentSuccessful" ng-init="isAddDocumentSuccessful=false" style="width: 60px; height: 20px" ng-click="updateDocument('employee')"> Submit</button>
    <!--
    //http://jsfiddle.net/fess81/axq5vu41/
        //http://ng-learn.org/2014/01/Dom-Manipulations/
    -->
</div>