<div xmlns="http://www.w3.org/1999/html" style="font-size: large">
    <h2>All actions</h2><br><br>

    <label>Employee id : </label> <span> {{employeeId}}</span><br><br>

    <label>Actions : </label><br>
    <div ng-repeat="action in employeeActions.actions">
    <a style="color: #FFF" href="#/employee-actions/employee/{{employeeId}}/action/{{action._id}}">{{action.name}}</a>; <nbsp><nbsp>
        <label>last date : </label> <span> {{action.lastDate}}</span><br><br>
    </div>
    <br>
    <a style="color: #FFF" href="#/employees">Back</a> &nbsp;&nbsp;
    <button style="width: 60px; height: 20px" ng-click="addAction()"> Submit</button>
<!--
//http://jsfiddle.net/fess81/axq5vu41/
    //http://ng-learn.org/2014/01/Dom-Manipulations/
-->
</div>