<div xmlns="http://www.w3.org/1999/html" style="font-size: large">

  <h2>Create new action</h2>
<span ng-if="isAddEmployeeSuccessful" ng-init="isAddEmployeeSuccessful=false" style="color: #10ff5c">
  Employee added successfully
</span>
    <br>

    <label>Employee id :</label>
    <input style="padding-left: 10px" type="text" name="employee id" ng-model="employee.id" >
    <br><br>

    <label>Employee name :</label>
    <input style="padding-left: 10px" type="text" name="employee name" ng-model="employee.name" >
<br><br>

    <label>Employee email :</label>
    <input style="padding-left: 10px" type="text" name="employee email" ng-model="employee.email" >
    <br><br>

        <label>Employee project :</label>
        <input style="padding-left: 10px" type="text" name="employee project" ng-model="employee.project" >
    <br><br>

    <a href="#/employees">Back</a> &nbsp;&nbsp;
    <button ng-if="!isAddEmployeeSuccessful" style="width: 60px; height: 20px" ng-click="addEmployee()"> Submit</button>
<!--
//http://jsfiddle.net/fess81/axq5vu41/
    //http://ng-learn.org/2014/01/Dom-Manipulations/
-->
</div>