<div xmlns="http://www.w3.org/1999/html" style="font-size: large">
    <label>Plese fill the following details</label><br><br>


    <div ng-repeat="actionField in employeeAction.action.fields">
        <label>{{actionField.name}}</label>&nbsp;:&nbsp;<input type="{{actionField.type}}" ng-model="actionResult.fields[actionField.name]">
    </div>

    <a href="#/actions">Back</a> &nbsp;&nbsp;
    <button style="width: 60px; height: 20px" ng-click="submitActionResult()"> Submit</button>
<!--
//http://jsfiddle.net/fess81/axq5vu41/
    //http://ng-learn.org/2014/01/Dom-Manipulations/
-->
</div>