<div>
    <h2>Employee list</h2><br>
    <table border="1" style="width:100%">
        <thead>
        <tr>
            <th>Employee id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Project</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input ng-model="employee.id"/></td>
            <td><input ng-model="employee.name"/></td>
            <td><input ng-model="employee.email"></td>
            <td><input ng-model="employee.project"></td>
            <td>
                <button ng-click="addEmployee()">add employee</button>
            </td>
        </tr>
        <tr ng-repeat="employee in employees">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.project}}</td>
            <td>
                <a href="#/employee-actions/employee/{{employee.id}}">view actions</a>
            </td>
            <td>
                <button ng-click="deleteEmployee(employee._id)">remove</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>